
.dj1{
    display: inline-flex;
    color:white;
    justify-content: space-evenly;
    position: relative;
    top:-600px;
    right:-65px;
}
.dj1:hover{
    cursor:pointer;
    color :rgba(133, 133, 143, 0.76);
   
}
.dj2{
    display:flex;
    justify-content:space-between;
    position:absolute;
    top:18px;
    right:70px;
}
#bt1{
    padding:2px;
    border-radius:-30px;
}

h1{
    letter-spacing: 2px;
    
}
h5{
    letter-spacing: 1px;
}
.ani1.p{
    letter-spacing: 1px;
    font-weight:20;
    color:rgba(200, 200, 207, 0.76);
}
#bt2{
    color: #fff;
    border-color :white;
    background: transparent;
    border-bottom-color: rgb(230, 223, 223);
    padding: 5px 16px;
    border-radius:64px;
}
.ani1{
    animation-duration: 1s;
    animation-name: s;
}
@keyframes s {
    from{
        margin-top: 70%; }
    }
.box-model{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    padding-top: 0px;
    column-gap: 6px;
    row-gap: 10px;
    text-align: center;
}
.box1{
    background-image:url(./Image/cam1.webp);
    background-size:cover;
    width: 650px;
    height: 450px;
}
.box2{
    background-image: url(./Image/cam2.webp);
    background-size: cover;
    width: 650px;
    height: 450px;
}
.box3{
    background-image: url(./Image/cam3.webp);
    background-size: cover;
    width: 650px;
    height: 450px;
}
.box4{
    background-image: url(./Image/cam4.webp);
    background-size: cover;
    width: 650px;
    height: 450px;
}
video{
    width: 750px;
    height: 750px;
}
.k1{
    background-image: url(./Image/L1.webp);
    background-size: cover;
    width: 1230px;
    height: 550px;
}
.k2{
    background-image: url(./Image/L2.webp);
    background-size: cover;
    width: 1230px;
    height: 550px;
}
.k3{
    background-image: url(./Image/L3.webp);
    background-size: cover;
    width: 1230px;
    height: 550px;
}
.bo2{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    justify-content: space-evenly;
    color: white;
    margin: 50px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}
.k1:hover{
    width: 1260px;
    height: 550px;
    transition: 1s;
}
.k2:hover{
    width: 1260px;
    height: 550px;
    transition: 1s;
}
.k3:hover{
    width: 1150px;
    height: 580px;
    transition-duration:1s;
}
